@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Barlow-Condensed-Extra-Bold-Italic";
    src: url("./assets/fonts/Barlow-Condensed/Barlow-Condensed-Extra-Bold-Italic.woff2");
  }

  html {
    font-family: "Barlow-Condensed-Extra-Bold-Italic", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
}
